h1{
    font-family: 'Chilanka', cursive;
    font-size: 60px;
    

}
p{
    font-family: 'Chilanka', cursive;
    font-size: 30px;

}
span{
    font-family: 'Chilanka', cursive;
    font-size:30px;
}